body {
	min-width: 350px;
	background-color: $lightGrey;
	margin: 0, 0; 
	padding: none;
	position: absolute;
}


.max-min {
max-width: 1600px;	
min-width: 350px;
overflow-x: hidden;
overflow-y: hidden;
}

a {
color: inherit;
text-decoration: inherit;
font-weight: 600;
}
