.margin {
	
	
	&--bottom--10 {
	margin-bottom: 10px;	
	}
	
	&--bottom--15{
	margin-bottom: 15px;	
	}
	
	&--bottom--20{
	margin-bottom: 20px;	
	}
	
	&--bottom--35 {
	margin-bottom: 35px;	
	}
	
	&--bottom--40 {
	margin-bottom: 40px;	
	}
	
	&--bottom--50 {
	margin-bottom: 50px;	
	}
	
	&--bottom--100{
	margin-bottom: 100px;	
	}
	
	&--top--6{
	margin-top: 6px;
	}
	
	&--top--10{
	margin-top: 10px;	
	}
	
	&--top--20{
	margin-top: 20px;	
	}
	
	&--top--25 {
	margin-top: 25px;	
	}
	
	&--top--35{
	margin-top: 35px;
	}
	
	&--top--40{
	margin-top: 40px;
	}
	
	&--top--50{
	margin-top: 50px;
	}
	
	&--top--75{
	margin-top: 75px;	
	}
	
	&--top--100{
	margin-top: 100px;	
	}
	
	&--top--200 {
	margin-top: 200px;	
	}	
}
