.block {
width: 100%;
text-align: center;

	&__animation--desktop {
	background:url(/assets/images/fedwatch/fedwatch--social-media-screens.jpg);
	background-position: 1% 11%;
	background-size: auto 63%;
	background-repeat: no-repeat;
	animation: two-frames 5s steps(2) infinite;	
	}
	
	&__background-video {
	position: relative;	
	z-index: -5;
	}
	&__content {
		
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
	
	&__wrap {
	flex-basis: 100%;
	
	&--50{
	@mixin atMedium{
	padding: 0;
	flex-basis: 49.4%;
	flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
	}
	
	&--text{
	flex-basis: 48%;
		flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
	}
	}
	
	&--75{
	@mixin atSmall{
	padding: 0;
	flex-basis: 73%;
	flex-wrap: wrap;
	justify-content: space-between;	
	}
	}
	
	&--33{
	@mixin atSmall{
	flex-basis: 32.5%;
	}
	}
	
	&--25 {
	max-height: 39.5vw;
	display: flex;
	flex-basis: 24%;
	flex-direction: column;
	justify-content: space-between;
	
	&--no-flex{
	display: inline-block;	
	}
	}
	
	
	
	&--20 {
	flex-basis: 19%;	
	}
	
	}
	
	}
	
	&__animation {
	&--fade {
	animation: fade 5s infinite;
	}
		
	&--desktop {
	background-position: 1% 11%;
	background-size: auto 63%;
	background-repeat: no-repeat;
	animation: two-frames 5s steps(2) infinite;	
}			
	}
	
	&__image {
	width: 100%;
	
	&--overlay {
		position: absolute;
	width: 100%;
	}
	
	&--background-phone {
	background-position: 50% 50.7%;
	background-size: auto 77%;
	background-repeat: no-repeat;	
	}
	}
	
	
	
	
	&__separation-line {
	border-bottom: 1px solid $grey4;	
	}

&__header {
	
	
}
}
