.contact {
	margin-top: 150px;
	padding-top: 30px;
	width: 100vw;
	position: relative;
	background: white;
	height: 700px;
	
	&__text-content {
		margin-top: 80px;
		width: 100vw;
		top: 140px;
		display: flex;
		
		@mixin atSmall {
		display: block;	
		}
	}
	

		
	&__form {
		padding-top: 25px;
	width: 586px;
	display: flex;
	flex-wrap: wrap;
		
	}
		
	&__name {
		flex: 1;
		border: none;
		border-bottom: 2px solid $lightGrey;
		padding-bottom: 15px;
		&:focus {
			outline: none;
	}
	}
	
	&__email {
		flex: 1;
		border: none;
		writing-mode: horizontal-tb;
		border-bottom: 2px solid $lightGrey;
		padding-bottom: 15px;
		
		&:focus {
			outline: none;	
	}
	}
		
	&__message {
		padding-top: 15px;
		border: none;
		flex-basis: 100%;

		
		&:focus {
			outline: none;
	}
	}
	} 