.contact {
	position: fixed;
	z-index: -10;
	margin-top: 150px;
	padding-top: 30px;
	width: 100vw;
/*background-image: url("../../assets/images/header/paint-background.jpg");*/
	height: 700px;
	bottom: 0;
	
	&__text-content {
		
		margin-top: 80px;
		width: 100vw;
		top: 140px;
		display: flex;
		
		@mixin atSmall {
		display: block;
		}
	}
	
	&__foreground {
		
	opacity: 2;
	z-index: 20;
	width: 120vw;
	position: absolute;
	right: -10vw;
	top: -10vh;	
	}
	
	&__overlay {
		
		z-index: -5;
		background-color:#000;
		opacity:0.0;
		position:absolute;
		top:0;
		width:100%;
		height:100%;
		pointer-events: none;
	}
	

		
	&__form {
		padding-top: 25px;
	width: 586px;
	display: flex;
	flex-wrap: wrap;
		
	}
		
	&__name {
		flex: 1;
		border: none;
		border-bottom: 2px solid $lightGrey;
		padding-bottom: 15px;
		&:focus {
			outline: none;
	}
	}
	
	&__email {
		flex: 1;
		border: none;
		writing-mode: horizontal-tb;
		border-bottom: 2px solid $lightGrey;
		padding-bottom: 15px;
		
		&:focus {
			outline: none;	
	}
	}
		
	&__message {
		padding-top: 15px;
		margin-bottom: 35px;
		border: none;
		flex-basis: 100%;

		
		&:focus {
			outline: none;
	}
	}
	} 