.contact {
	margin-top: 150px;
	padding-top: 30px;
	width: 100vw;
	position: relative;
	background: white;
	height: 500px;
	
	&__text-content {
		margin-top: 80px;
		width: 100vw;
		top: 140px;
		display: flex;
		
		@mixin atSmall {
		display: block;	
		}
	}
	
	&__text {
		margin: 0;
		font-family: Open Sans;
		font-size: 14px;
		line-height: 1.8;
		color: $darkGrey;
	
		@mixin atSmall {
			font-size: 16px;	
		}
			
			&--title {
		font-size: 32px;
		font-family: Merriweather;
		letter-spacing: .3px;
		color: $darkGrey;
		
		@mixin atSmall {
		font-size: 34px;
	}
			}
		}
		
	&__form {
	width: 500px;
		
	}
		
	&__name {
		border: none;
	
		&:focus {
			outline: none;
	}
	}
	
	&__email {
		border: none;
		writing-mode: horizontal-tb;
		
		&:focus {
			outline: none;	
	}
	}
		
	&__message {
		border: none;

		
		&:focus {
			outline: none;
	}
	}
	} 