.hero {
	width: 100vw;
	position: relative;
	background: white;
	height: 680px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	/* hero images*/
	
	&__image-content--right {
	overflow: hidden;
	position: absolute;
	text-align: center;	
	left: 50vw;
	display: none; 
	z-index: 1;
	
	@mixin atSmall {
		display: block;
	}
	}
	
	&__image--right {
		height: 680px;
	}
	
	&__image-content--left {
	overflow: hidden;
	position: absolute;
	text-align: center;	
	right: 70vw;
	display: none;
	z-index: 1;
	
	@mixin atSmall{
		display: block;
	}
	}
	
	&__image--left {
		height: 680px;
	}

	&__text-content {
		z-index: 2;
		position: absolute;
		width: 100vw;
		top: 140px;
		display: flex;
		
		@mixin atSmall {
		display: block;	
		}
}

&__text {
		margin: 0;
		font-family: Open Sans, Helvetica, sans serif;
		font-size: 18px;
		line-height: 1.8;
		color: $darkGrey;
		text-align: center;
		max-width: 340px;
		
		@mixin atSmall {
		text-align: left;
		max-width: 440px;
		}
		
		@mixin atMedium {
		
		
		}
			
			&--title {
		font-size: 36px;
		font-family: Merriweather, serif;
		letter-spacing: .3px;
		color: $darkGrey;
		text-align: center;
		
		@mixin atSmall {
	text-align: left;	
	font-size: 44px;
	}
	
	@mixin atMedium {

	}
		}
	}	
}