.large-hero {
	position: relative;
}

.header__image {
	height: 680px;
	/*width: 100vw; */
	z-index: 1; 
	position: absolute;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);;
}

.large-hero__text-content {
width: 500px;
z-index: 2;
position: absolute;
top: 160px;
left: 300px;
color: 5px;
}

.large-hero__text-content h1 {
font-size: 33px;
font-family: Merriweather;
letter-spacing: .3px;
line-height: 38px;
}

.large-hero__text-content p {
font-size: 16px;
font-family: Open Sans;
line-height: 1.8;
padding-bottom: 24px;
}


.large-hero__button {
text-decoration: none;
font-family: Open Sans, san serif;
font-size: 16px; 
font-weight: 600;
border-radius: 8px;
padding: 8px 30px;
background-color: rgb(50, 50, 50);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
text-align: center;
color: white;
letter-spacing: .8px;
 transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.large-hero__button:active {
 box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: rgba(158,158,158, 0.40);
}
.large-hero__button:focus:not(:active) {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.large-hero__button:hover {
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.large-hero__button .mdl-ripple {
    background: rgb(255,255,255);
}