.merriweather {
	font-weight: 600;
	margin: 0;
	line-height: 1.7;
	font-family: Merriweather, serif;
	letter-spacing: .3px;
	
	font-size: 14px;
	flex: 1;
		
		&--light {
		font-weight: 300;	
		}
		
		&--heavy {
		font-weight: 700;	
		}
		
		&--22 {
		font-size: 22px;	
		}
		
		&--28 {
		font-size: 32px;	
		}
		
		&--24{
		font-size: 36px;
		font-weight: 300;	
		line-height: 38px;
		}
		
		&--36{
		font-size: 36px;
		@mixin atSmall {
	text-align: left;	
	font-size: 44px;
	}
		}
		
		&--align-center{ 
		text-align: center;
		}
}

