.portfolio {
	position: relative;
z-index: 20;
background: white;
margin-bottom: 950px;
min-height: 100vh;

;
@mixin atSmall {
	width: 100%;
	display: flex;
justify-content: space-between;	
flex-flow: wrap;
}


&__foreground-top{
	opacity: 2;
	z-index: -1;
	width: 120vw;
	position: absolute;
	right: -10vw;
	top: -25vw;
}


&__foreground-bottom{
transform:scaleY(-1);
	opacity: 2;
	z-index: 0;
	width: 120vw;
	position: absolute;
	right: -10vw;
	bottom: -25vw;
}

&__view {
pointer-events: none;
}

&__visible {
	
}

&__header {
cursor: pointer;
color: inherit;
transition: color .25s ease-out;


&:hover {
color: black;
}
}
}


