.portfolio {
	position: relative;
z-index: 10;
background: white;
margin-bottom: 1000px;
padding-bottom: 200px;
padding-top: 100px;


;
@mixin atSmall {
	width: 100%;
	display: flex;
justify-content: space-between;	
flex-flow: wrap;
}

&__foreground{
transform:scaleY(-1);
	opacity: 2;
	z-index: 0;
	width: 120vw;
	position: absolute;
	right: -10vw;
	bottom: -34vh;
}

&__view {
pointer-events: none;
}

&__visible {
	
}

&__header {
cursor: pointer;
color: inherit;
transition: color .25s ease-out;


&:hover {
color: black;
}
}
}


