.project {
	display: none;
/*transition: opacity 2s linear; */


&--is-visible{
animation: fade 1s ease-out;
display: block;
z-index: 3; 
}

&__image {
margin: 5px 0;

&--small {
flex-basis: 20%;	
}

&--large {
flex-basis: 48%;
}
}

&__context {
@mixin atMedium {
flex-basis: 48%;	
}
}

&__header {
flex: 1;
}

&__description {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0px;
	align-items: center;
}

&__close {
font-size: 20px;	
}
}

@keyframes fade {
0% {
opacity: 0;	
}
100% {
opacity: 1;	
}
}