.project {
	display: none;
/*transition: opacity 2s linear; */


&--is-visible{
/*top: 0;
bottom: 0;
left: 0;
right: 0;
position: fixed;*/
animation: fade 1s ease-out;
display: block;
align-items: center;
z-index: -1;
/*background: white;*/
}

&__desktop-animation {
background:url(/assets/images/fedwatch/fedwatch--social-media-screens.jpg);
background-position: 1% 11%;
background-size: auto 63%;
background-repeat: no-repeat;
animation: two-frames 5s steps(2) infinite;	
}

&__header {
flex-basis: 100%;
margin-top: 50px;
margin-bottom: 20px;
}

&__close {
text-align: center;
cursor: pointer;
display: block;
font-size: 20px;	
padding-bottom: 20px;
border-bottom: 1px solid rgb(180,180,180);

z-index: 20;
}
}