.wrapper {

	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	
	@mixin atSmall {
		text-align: left;
	padding-left: 10vw;
	padding-right: 10vw;	
	}
	}

