.wrapper {
	
width: 100%;
max-width: 980px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	
	@mixin atSmall {
		text-align: left;
	padding-left: 10vw;
	padding-right: 10vw;	
	}
	
	&--modal {
	max-width: none;	
	min-width: 1000px;
	}
}